
.expense_actions_div {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    gap: 5px;
}

.create_expense_button {
    background-color: transparent;
    height: 100%;
    
    border-radius: 2px; 
    border: 1px solid #61892F;
}

.create_expense_button:hover {
    background-color: #86C232;
    margin-top: 2px;
    border-color: #222629;
}

.filter_form {
    display: flex;
    gap: 7px;
}

.filter_form input[type="date"] {
    border-radius: 4px;
    border: none;
    width: auto;
    height: 5vh;
}

.filter_form input[type="submit"] {
    height: 5vh;
}

#expenses_container {
    align-self: center;
    width: 800px;
}


.expenses_table {
    margin-top: 15px;
    font-size: 1.15rem;
    width: 100%;

    padding: 0px 10px 10px 10px;
    border: 1px solid #61892F;
    border-radius: 2px;

    background-color: #474B4F;
    color:  #a8acaf;
}

.expenses_table th {
    color: #86C232;
}

.expenses_table td {
    overflow-wrap: break-word;
    min-width: 33%;
    max-width: 60%;
}

.expenses_table td:focus {
    color: white;
    border: 3px solid #6B6E70;
    outline: none;
    outline-offset: 1px;
}

.expense_delete_button {
    background-color: transparent;
    border: none;
    outline: none;
}

.expense_delete_button:hover {
    background-color: #C23B3B;


}
