
.filter_form_div {
    background-color: green;
}

#expenses_container {
    background-color: blue;
    align-self: center;
    max-width: 750px;
}


.expenses_table {
    background-color: red;
    color: black;
    width: 100%;

}

.expenses_table td {
    overflow-wrap: break-word;
}
