{% extends 'home_base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('features.static', filename='expenses_style.css')}}"> 
{% endblock %}

{% block expenses_content  %}

<!-- Holds Charts and analysis of expenses -->
<div id="expenses_portfolio"></div>

<div id="expense_history_container">
    
    {% for table_date in dates %}
    <button class="table_expense_button">{{ dates[table_date]}} - {{ table_date }}</button>
    {% endfor %}

    <!-- Make list of expenses (by date) -->
    <table class="expenses_table">

        <tr>
            {% for table_header in table_headers %}
                <th>{{ table_header }}</th>
            {% endfor %}
        </tr>
        
        {% for expense in expenses %}
            <tr class="expense_row">
                <td contenteditable="true">{{ expense.description }}</td>
                <td contenteditable="true">{{ expense.amount }}</td>
                <td contenteditable="true">{{ expense.date}}</td>
            </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}
