{% extends 'home_base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('features.static', filename='expenses_style.css')}}"> 
{% endblock %}

{% block expenses_content  %}

<!-- Holds Charts and analysis of expenses -->
<div id="expenses_portfolio"></div>

<div class="filter_form_div">
    <form method="POST">
        <input type="date" name="start_date" required autofocus>
        <input type="date" name="end_date" required>

        <input type="submit" value="Apply">
    </form>
</div>

<div id="expenses_container">
    
    <script>
        function handle_expense_delete_button() {
            alert("Delete");
        };
    </script>

    <table class="expenses_table">

        <tr>
            {% for table_header in table_headers %}
                <th>{{ table_header }}</th>
            {% endfor %}
        </tr>
        
        {% for expense in expenses %}

            <tr class="expense_row">
                <td contenteditable="true">{{ expense.description }}</td>
                <td contenteditable="true">{{ expense.amount }}</td>
                <td contenteditable="true">{{ expense.date}}</td>
                <td>
                    <button class="expense_delete_button" onclick="handle_expense_delete_button()">delete</button>
                </td>
            </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}
