body {
    background-color: #222629;
    margin: 0;
}


.navbar ul {
    list-style-type: none;
    background-color: #353739;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    overflow: hidden;
    

}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-radius: 6px;
    text-align: center;
}

.navbar a:hover {
    background-color: #86C232;

}

.navbar li {
    float: right;
}
