<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{url_for('home.static', filename='base-style.css')}}">
    </head>
    <header>
        <ul id="home-nav-bar">
            <li><a href="{{url_for('home.home')}}">Home</a></li>
            <li><a href="{{url_for('home.dashboard')}}">Dashboard</a></li>
            <li><a href="{{url_for('home.inventory')}}">Inventory</a></li>
            <li><a href="{{url_for('home.products')}}">Products</a></li>
            <li><a href="{{url_for('home.sales')}}">Sales</a></li>
        </ul>
    </header>
    <body>
        {% block extra_body %}{% endblock %}
        </body>
</html>